   <% layout('layouts/boilerplate') %> 
   
   <section class="container-fluide mb-5">
     <div class="row">
  <h1 class="text-center">Update Post</h1>
  <div class="col-6 offset-3">
    <form action="/blog/<%=post._id%>?_method=PUT" method="post" novalidate class="validated-form">
      <div class="mb-3">
        <label for="articleTitle" class="form-label">Title</label>
        <input type="text" id="articleTitle" , name="post[articleTitle]", value="<%= post.articleTitle %> " class="form-control" required/>
      </div>
        <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" id="image" , name="post[image]", value="<%= post.image %> " class="form-control" required/>
      </div>
   <div class="mb-3">
        <label for="article" class="form-label">Article</label>
        <textarea id="article" name="post[article]"cols="30"rows="10" class="form-control" required><%= post.article %> </textarea>
      </div>
      <button class="btn mb-3">update</button>
    </form>
   </div>
   <a href="/blog/<%=post._id%>" class="arrow mb-3"> <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>post</a>
  
    </div>
       </section>

